#/home/absencia/workspace/11_CDIO_D3/11_CDIO_D3/sql.config
#Mon Apr 03 20:52:23 CEST 2017
getPBCListSql=SELECT * FROM produktbatchkomponent
deleteOprSql=DELETE FROM operatoer WHERE opr_id \= ?
updateOprSql=UPDATE operatoer SET opr_navn \= ?, ini \= ?, cpr \= ?, password \= ? WHERE opr_id \= ?
createPBCSql=INSERT INTO produktbatchkomponent(pb_id, rb_id, tara, netto, opr_id) VALUES (?, ?, ?, ?, ?)
getOprListSql=SELECT * FROM operatoer
createPBSql=INSERT INTO produktbatch(pb_id, status, recept_id) VALUES (?, ?, ?)
getPBCSql=SELECT * FROM produktbatchkomponent WHERE pb_id \= ? AND rb_id \= ?
getPBCListIdSql=SELECT * FROM produktbatchkomponent WHERE pb_id \= ?
getPBSql=SELECT * FROM produktbatch WHERE pb_id \= ?
createOprSql=INSERT INTO operatoer(opr_id, opr_navn, ini, cpr, password) VALUES (?, ?, ?, ?, ?)
deletePBSql=DELETE FROM produktbatch WHERE pb_id \= ?
getRBSql=SELECT * FROM raavarebatch WHERE rb_id \= ?
getOprSql=SELECT * FROM operatoer WHERE opr_id \= ?
getRBListSql=SELECT * FROM raavarebatch
getPBListSql=SELECT * FROM produktbatch
deletePBCSql=DELETE FROM produktbatchkomponent WHERE pb_id \= ? AND rb_id \= ?
updatePBSql=UPDATE produktbatch SET status \= ? WHERE pb_id \= ? AND recept_id \= ?
updatePBCSql=UPDATE produktbatchkomponent SET tara \= ?, netto \= ? WHERE pb_id \= ? AND rb_id \= ? AND opr_id \= ?
